@charset 'utf-8';

a{
    color:inherit;
}

body{
    color:#636363;
}

.wrap{
    width:1050px;
    margin:0 auto;
}

/* headerTop 영역 */

.headerTop{
    width:100%;
    height: 80px;
    background-color: #49dbd0;
    position: relative;

}

.banner:after{
    display: block;
    clear:both;
    content:'';
}

.banner li{
    float:left;
    width:25%;
}

.banner li img{
    width:100%;
}

#close{
    position: absolute;
    top:26px;
    right:50px; 
}


/* header 영역 */

/* headerutil 영역 */

.headerutil{
    width:100%;
    height: 30px;
    background-color:#efefef;
    
    
}

.utilwrap{
    position: relative;
    color:#666;
}

.utilLeft {
    display: inline-block;
    margin-top:5px;
}

.utilLeft a{
    margin-right: 10px;
}

.utilRight{
    position: absolute;
    top:5px;
    right:0;
    
}

.utilRight li{
    float: left;
    margin: 0 10px;
}

/* headerMain 영역 */

.headerMain{
    height: 88px;
    
}

.headerMainwrap{
    /* background-color:#0ff; */
    position: relative;
}

.search{
    position: absolute;
    top:17px;
    left:230px;
    
}



.searchIn{
    width:560px;
    height: 45px;
    border: 5px solid #d00000;
    font-size:24px;
    background-color:#d00000
    /* padding-right: 30px; */
    
}

.search input{
    width:500px;
    height: 40px;
}

.searchicon{
    display: inline-block;
    height:45px;
    width:45px;
    background-image: url(../img/btn_search.gif);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 50px;
    box-sizing: border-box;
    

}

.searchicon a{
    display: inline-block;
    width:100%;
    height: 100%;
}

.quickicon{
    position: absolute;
    top:25px;
    right: 0;
    vertical-align: bottom;
}

.quickicon span{
    margin:0 10px;
}

/* allcategory 영역 */

.allcategory{
    border-top:1px solid #eee;
    border-bottom: 3px solid #d00000;   
}

.allcategorywrap{
    position: relative;
    /* 문제가 있나? */
}

.allcategorybutton{
    position: relative;
    
    
}

.allcategorybutton a{
    display: inline-block;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
    width:150px;
    height: 50px;
    padding-left:50px;
    line-height: 50px;
    font-size:16px;
    font-weight: 700;
    /* background-color:#efefef; */
    color:#666;
    
}

.allcategorybutton a:hover{
    background-color: #efefef;
}

.allcategorybutton img{
    vertical-align: middle;
    width:20px;
    margin: 0 10px;
}

.buttonicon{
    
    position: absolute;
    top:2px;
    left:12px;
}

.buttonicon span{
    display: block;
    width:25px;
    height: 2px;
    background-color:#999;
    margin-bottom:5px;
}

/* total_cate_box */

.total_cate_box{
    width:100%;
    position: absolute;
    top:50px;
    left:0;
    background-color: white;
    z-index: 10;
    display: none;

}



.service{
    position: absolute;
    top:15px;
    left:50%;
    margin-left: -300px;
}

.service li{
    display: inline-block;
    font-weight: 700;
    margin: 0 10px;
    font-size:16px;
}

.deal{
    color:#d00000;
}

/* maincontainer 영역*/
.maincontainerwrap::after{
    display: block;
    clear:both;
    content:'';
}

.category{
    float:left;
}

.category li{
    width:200px;
    height:60px ;
    text-align: center;
    line-height: 60px;
    font-size:14px;
    background-color:#d00000;
    border-bottom:1px solid #efefef;
    color:#eee;
    font-weight: 900;

}

.category li:hover{
    background-color:#5a5a5a;
    
}

.mainVisual{
    width:850px;
    height: 366px;
    float: left;
    position: relative;

}

.mainVisual .button .button_prev a{
    display: block;
    background-position: -510px 0;
    background-image: url(../img/main.png);
    width:60px;
    height: 70px;
    position: absolute;
    top:125px;
}

.mainVisual .button .button_next a{
    display: block;
    background-position: -580px 0;
    background-image: url(../img/main.png);
    width:60px;
    height: 70px;
    position: absolute;
    top:125px;
    right: 20px;
}

.mainVisual img{
    /* display: inline-block; */
    /* width:100%; */
    vertical-align: top;
    
}
.bannerbuttonwrap:after{
    display: block;
    clear: both;
    content:'';
}

.bannerbutton li{
    float: left;
    width:20%;
    height: 40px;
    background-color:#efefef;
    border-right: 1px solid white;
    box-sizing: border-box;
    color:#666;
    
}

.bannerbutton li:first-child{
    background-color:#2a2a2a;
    color:#efefef;
}



.bannerbutton li a{
    display: inline-block;
    /* width:20%; */
    
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    
    
    
}

.mainVisual .pager{
    position: absolute;
    left:50%;
    bottom:40px;
    margin-left:-30px;  
    /* 일단 pager 숨기기 */
    display: none;

}

/* best 영역 */

.best{
    width: 100%;
    height: 400px;
    margin:50px 0;

}

.bestwrap{
    position: relative;
}

.bestitems{
    position:relative;
}

.bestTitle{
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    font-weight: 900;
    margin-bottom:40px;
}

.itemslider{
    padding:0 70px;
    height: 300px;
    width:740px;
    /* position: relative; */
}

.itemslider:after{
    display: block;
    clear:both;
    content:'';
}

.itemslider li a img{
    width:180px;
    height: 180px;
}

.itemslider>li{
    position: relative;
    float: left;
    margin-right:20px;
}

.bestnum{
    position: absolute;
    top:0;
    left:0;
}

.bestnum img{
    width:60%;
}

.besttxt{
    position: relative;
    width:180px;
}   

.name{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:14px;
    font-weight: 900;
}

.best .price{
    color:#666;
    text-decoration: line-through;
}

.sale{
    font-size:20px;
}

.percent{
    color:#d00000;
    font-weight: 900;
    font-size:22px;
    position: absolute;
    bottom:0;
    right: 0;
}

.best .button .button_prev{
    display: block;
    background-position: -510px 0;
    background-image: url(../img/main.png);
    width:60px;
    height: 70px;
    position: absolute;
    top:150px;
    left:0;
}

.best .button .button_next{
    display: block;
    background-position: -580px 0;
    background-image: url(../img/main.png);
    width:60px;
    height: 70px;
    position: absolute;
    top:150px;
    right:320px;
}

.best .slick-dots{
    position: absolute;
    left:370px;
    bottom:10px;
    margin-left:-17px;  

}

.slick-dots li{
    float: left;
    margin-left:10px;
}

.slick-dots a{
    display: inline-block;
    width:8px;
    height: 8px;
    background-color:#ddd;
    border-radius: 4px;
    text-indent: -9999px;
}


.slick-dots li.slick-active a{
    background-color:#2a2a2a;
}

.smallAD {
    position: absolute;
    top:0px;
    right:50px
}

.smallAD img{
    width:180px;

}

/*  bannerAD 배너광고 */

.AD{
    padding:40px 0;
    background-color:#f3f3f3;
}
.bannerAD{
    width:100%;
    
    
}



/* wingbanner 영역 */

#container{
    position: relative;
}

.wingbanner{
    position: absolute;
    top:300px;
    right:50%;
    margin-right: -700px;
    height: 0;
    
    width:120px;
}

.wingbanner ul{
    border: 1px solid #efefef;
}

.wingbanner ul>li a{
    display: block;
    width:100%;
    height: 35px;
    border-bottom:1px solid #eee;
    color: #999;
    line-height: 35px;
    text-align: center;
    font-weight: 900;
    font-size:16px;
    
    
}

.wingbanner .wingmenu a:hover{
    background-color:#6f6f6f;
    color:#eee;
    
}


.myshopping{
    background-color: #2a2a2a;
    
}

.wingbanner .img img{
    height: 100%;
}

.wingbanner ul li .img li a{
    margin:10px 0;
    height: 80px;
    
    width:100%;
}


/* hot 영역 */



.hot{
    padding-top:200px;
    position: relative;
    margin-bottom:300px;
}

#category1{
    border-top:5px solid #f6699e;
}

#category1 .title{
    color:#f6699e;

}

#category2{
    border-top:5px solid #1992df;
}

#category2 .title{
    color:#1992df;

}

#category3{
    border-top:5px solid #7e57c2;
}

#category3 .title{
    color:#7e57c2;

}

#category4{
    border-top:5px solid #00aad4;
}

#category4 .title{
    color:#00aad4;

}

#category5{
    border-top:5px solid #ee9200;
}

#category5 .title{
    color:#ee9200;

}

#category6{
    border-top:5px solid #62ab66;
}

#category6 .title{
    color:#62ab66;

}

#category7{
    border-top:5px solid #9d7a6d;
}

#category7 .title{
    color:#9d7a6d;

}

#category8{
    border-top:5px solid #dd6641;
}

#category8 .title{
    color:#dd6641;

}   

#category9{
    border-top:5px solid #5868be;
}

#category9 .title{
    color:#5868be   ;

}

#category10{
    border-top:5px solid #83be41;
}

#category10 .title{
    color:#83be41;

}

#category11{
    border-top:5px solid #254e98;
}

#category11 .title{
    color:#254e98;

}

#category12{
    border-top:5px solid #3e8d86;
}

#category12 .title{
    color:#3e8d86;

}

#category13{
    border-top:5px solid #97563e;
}

#category13 .title{
    color:#97563e;

}

#category14{
    border-top:5px solid #b74b4b;
}

#category14 .title{
    color:#b74b4b;

}

#category15{
    border-top:5px solid #ab47bc;
}

#category15 .title{
    color:#ab47bc;

}

#category16{
    border-top:5px solid #00b599;
}

#category16 .title{
    color:#00b599;

}

#category17{
    border-top:5px solid #19b1ba;
}

#category17 .title{
    color:#19b1ba;

}

#category18{
    border-top:5px solid #d22e60;
}

#category18 .title{
    color:#d22e60;

}



.hotcategory>li{
    height: 300px;
    padding:10px 0;
    border-bottom: 2px dotted #efefef;
    margin: 120px 0;
}

.hotcategory>li:after{
    display: block;
    clear:both;
    content:'';
}

.hotTitle{
    width:100%;
    
    font-size:30px;
    line-height: 40px;
    text-align: center;
}



.hotTitle strong{
    color:#d00000;
}

.hotLeft, .hotRight{
    float:left;
    width:50%;
    height: 100%;
}

.hotLeft{
    position: relative;
}


/* .hotLeft .title{
    font-size:24px;
    line-height: 50px;
    font-weight: 900;
    margin-left: 10px;  
} */

.hotLeft .link{
    position: absolute;
    top:250px;
    right: 30px;
    color:#888;
}

.hotLeft .link:hover{
    color:#d00000;
    
}

.hotLeft .name{
    width:110px;
}

.hotLeft .link{
    margin-left: 10px;  
}

.hotLeft ul{
    padding:0 50px;
    margin-top:20px;
   
}

.hotLeft ul:after{
    display: block;
    clear: both;
    content:'';
}

.hotLeft>ul>li{
    float:left;
    width:25%;
    position: relative;
    margin-right:40px;
}
.hotLeft>ul>li:nth-last-child(3n+2){
    margin-right: 0;
}

.hotLeft .itemimg{
    width:100%;
}

.hotLeft .besticon{
    position: absolute;
    top:0;
    left: 0;
}

.besticonIn{
    position: relative;
}

.besticon img{
    width:50%;
}

.besticonIn .nth{
    position: absolute;
    top:8px;
    left:10px;
    color:white;
    font-weight: 900;
    font-size:12px;
}



.hotLeft .button .button_prev{
    display: block;
    background-position: -510px 0;
    background-image: url(../img/main.png);
    width:60px;
    height: 70px;
    position: absolute;
    top:100px;
}

.hotLeft .button .button_next{
    display: block;
    background-position: -580px 0;
    background-image: url(../img/main.png);
    width:60px;
    height: 70px;
    position: absolute;
    top:100px;
    left:450px;
}


.hot .slick-dots{
    margin-left:70px;

}



.hotRight{
    position: relative;
}
.hotmain{
    position: absolute;
    bottom:20px;
    right:20px;

}

.categorybar{
    position: absolute;
    top:50px;
    left:50%;
    
    /* border:2px solid #efefef; */
    width:80px;
    height: 0;
}

.categorybar ul{
    margin-left:-680px;
}

/* .categorybar .title{
    width:80px;
    height: 40px;
    line-height: 40px;
    
    
    text-align: center;
    font-weight: 900;
    
} */

.categorybar .title a{
    background-color: #2a2a2a;
    color: #efefef;
}

.categorybar li a{
    display: block;
    width:80px;
    height: 40px;
    font-size:12px;
    text-align: center;
    line-height: 40px;
    color:#666;
    font-weight: 900;
    border-bottom:1px solid #efefef;
    border-right: 2px solid #efefef;
    border-left: 2px solid #efefef; 
    background-color:white;
    z-index: 10;


}

.categorybar li a:hover{
    color:white;
}

#bar01 a:hover{
    background-color:#f6699e;
}
#bar02 a:hover{
    background-color:#1992df;
}#bar03 a:hover{
    background-color:#7e57c2;
}#bar04 a:hover{
    background-color:#00aad4;
}#bar05 a:hover{
    background-color:#ee9200;
}#bar06 a:hover{
    background-color:#62ab66;
}#bar07 a:hover{
    background-color:#9d7a6d;
}#bar08 a:hover{
    background-color:#dd6641;
}#bar09 a:hover{
    background-color:#5868be;
}#bar10 a:hover{
    background-color:#83be41;
}#bar11 a:hover{
    background-color:#254e98;
}#bar12 a:hover{
    background-color:#3e8d86;
}#bar13 a:hover{
    background-color:#97563e;
}#bar14 a:hover{
    background-color:#b74b4b;
}#bar15 a:hover{
    background-color:#ab47bc;
}#bar16 a:hover{
    background-color:#00b599;
}#bar17 a:hover{
    background-color:#19b1ba;
}#bar18 a:hover{
    background-color:#f6699e;
}
/* footer 영역 */

footer{
    width:100%;
    height: 230px;
    

}

.footerTop{
    border-top: 3px solid #666;
    border-bottom: 1px solid #999;
    height: 22px;
    padding:15px;
    
}

.footerTopwrap{
    position: relative;
}
.footermenu li{
    display: inline-block;
    margin-right:10px;
}

.sns{
    position: absolute;
    top:0;
    right: 50px;
}
.sns li{
    display: inline-block;
    margin-left:20px;
}

.btntop{
    position: absolute;
    top:0;
    right: 0;
}

.footercontents{
    padding:30px;
}

.footercontentswrap{
    position: relative;
}
.footercontentswrap:after{
    display: block;
    clear: both;
    content:'';
}

.footercontentswrap div{
    float:left;
}

address{
    font-style: normal;
    margin-left:30px;
    font-size:12px;
    color:#666;
    line-height: 15px;
}

.inipay{
    position: absolute;
    bottom:0;
    right:0;
}